Repository dm1nh/cozy.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: extras, groups, base, colors

fix: add palettes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci.yml
  README.md
  colors/cozy-groove.lua
  colors/cozy-moon.lua
  doc/cozy.nvim.txt
  lua/cozy/colors/groove.lua
  lua/cozy/colors/init.lua
  lua/cozy/colors/moon.lua
  lua/cozy/colors/night.lua
  lua/cozy/config.lua
  lua/cozy/groups/indent-blankline.lua
  lua/cozy/groups/indentmini.lua
  lua/cozy/groups/mini_files.lua
  lua/cozy/groups/treesitter.lua
  lua/cozy/init.lua
  lua/cozy/theme.lua
  lua/cozy/util.lua
  lua/lualine/themes/_cozy.lua
  lua/lualine/themes/cozy-moon.lua
  tests/colorscheme_spec.lua
Labels: groups, base, colors

fix: fix palette
  lua/cozy/colors/groove.lua
  lua/cozy/config.lua
Labels: colors

fix: fix mini.icons colors
  lua/cozy/groups/base.lua
  lua/cozy/groups/mini_files.lua
  lua/cozy/groups/mini_icons.lua
Labels: groups, base

fix(palette): fix dark
  lua/cozy/colors/groove.lua
Labels: colors

fix: fix accent color
  lua/cozy/config.lua
Labels: none

.github/labeler.yml:

core:
  - all:
      - changed-files:
          - any-glob-to-any-file: "lua/cozy/**"
          - all-globs-to-all-files:
              - "!lua/cozy/groups/**"
              - "!lua/cozy/colors/**"
              - "!lua/cozy/extra/**"

extras:
  - changed-files:
      - any-glob-to-any-file: "lua/cozy/extra/**"

groups:
  - changed-files:
      - any-glob-to-any-file: "lua/cozy/groups/**"

base:
  - changed-files:
      - any-glob-to-any-file:
          - "lua/cozy/groups/base.lua"
          - "lua/cozy/groups/kinds.lua"
          - "lua/cozy/groups/treesitter.lua"
          - "lua/cozy/groups/semantic_tokens.lua"

colors:
  - changed-files:
      - any-glob-to-any-file: "lua/cozy/colors/**"
